button.order {
    background: #1abc9c;
    padding: 6px 20px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    display: block;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-appearance: none;
    outline: none;
    text-decoration: none;
    float: right;
}

button.order:hover {
    color: #fff;
    background: #16a085;
}

button.order {
    padding: 6px 15px;
    font-size: 14px;
}

a.order {
    background: #1abc9c;
    padding: 6px 20px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    display: block;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-appearance: none;
    outline: none;
    text-decoration: none;
    float: right;
}

a.order:hover {
    color: #fff;
    background: #16a085;
}

a.order {
    padding: 6px 15px;
    font-size: 16px;
}

.reservasi-box {
    font-size: 14px;
    border: 3px solid black;
    padding: 5%;
}



button.order-disable {
    background: #1abc9c;
    padding: 6px 20px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    display: block;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-appearance: none;
    outline: none;
    text-decoration: none;
    float: right;
}

button.order-disable:disabled {
    color: #fff;
    background: #16a085;
}

button.order-disable {
    padding: 6px 15px;
    font-size: 14px;
}

input.dropdown{
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 30px;
    font-weight: 600;
    outline: none;
    border: none;
}


.custom-testimonial {
    background: #f8f8f8;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

strong { font-weight: 500; }

a.testimoni, a.testimoni:hover, a.testimoni:focus {
    color: #42bfc2; text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1.testimoni, h2.testimoni { margin-top: 10px; font-size: 38px; font-weight: 100; color: #555; line-height: 50px; }
h3.testimoni { font-size: 22px; font-weight: 300; color: #555; line-height: 30px; }

img.testimoni { max-width: 100%; }

.medium-paragraph { font-size: 18px; line-height: 34px; }

::-moz-selection { background: #42bfc2; color: #fff; text-shadow: none; }
::selection { background: #42bfc2; color: #fff; text-shadow: none; }

/***** General style, all sections *****/

.section-container { margin: 0 auto; padding-bottom: 80px; }

.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 { color: #fff; }

.section-container-image-bg .divider-1 .line { border-color: #fff; opacity: 0.8; }

.section-description { margin-top: 60px; padding-bottom: 10px; }

.section-description p { margin-top: 20px; padding: 0 120px; }
.section-container-image-bg .section-description p { opacity: 0.8; }


/***** Divider *****/

.divider-1 { padding: 25px 0 15px 0; }
.divider-1 .line { width: 200px; margin: 0 auto; border-bottom: 1px solid #ddd; }


/***** Testimonials *****/

.testimonials-container { padding-bottom: 70px; }

.testimonial-list { margin-top: 30px; text-align: center; }

.testimonial-list .testimonial-image img {
    max-width: 160px;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

.testimonial-list .testimonial-text { margin-top: 30px; }
.testimonial-list .testimonial-text p { opacity: 0.8; }

.testimonial-list .testimonial-text a { color: #fff; border-bottom: 1px dotted #fff; }
.testimonial-list .testimonial-text a:hover, 
.testimonial-list .testimonial-text a:focus { color: #fff; border: 0; }

.testimonial-list .nav-tabs { margin-top: 30px; border: 0; }
.testimonial-list .nav-tabs li { float: none; display: inline-block; margin-left: 10px; margin-right: 10px; }

.testimonial-list .nav-tabs li a {
    width: 16px; height: 16px; margin: 0; padding: 0;
    background: none; border: 1px solid #fff; border-color: rgba(255, 255, 255, 0.8);
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}
.testimonial-list .nav-tabs li a:hover {
    background: #fff; background: rgba(255, 255, 255, 0.8);
    border: 1px solid #fff; border-color: rgba(255, 255, 255, 0.8);
}

.testimonial-list .nav-tabs li.active a,
.testimonial-list .nav-tabs li.active a:focus { background: #42bfc2; border: 0; }

@media screen and (max-width: 767px) {
    .reservasi-box
}